img{

}

.egara{
    width: 33.333%;
    height: 300px;
}

input{
    width: 47%;
    height: 150px;
    font-size: 5vw;
    color: white;
}

.box{
    display: flex;
    background-image: url("img/pic01.JPG");
}
