@media screen and (max-width: 3840px) {
    .game-in{
        width: 25%;
        margin-right: auto;
        margin-left: auto;
    }
    .egara{
        width: 33.333%;
        height: 300px;
    }
}

@media screen and (max-width: 2560px) {
    .game-in{
        width: 30%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 1920px) {
    .game-in{
        width: 35%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 1024px) {
    .game-in{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 768px) {
    .game-in{
        width: 97%;
        margin-right: auto;
        margin-left: auto;
    }
    .egara{
        width: 33.333%;
        height: 200px;
    }

}

img{

}


/*input{
    width: 100%;
    height: 150px;
    font-size: 5vw;
    color: white;
    background-color: burlywood;
}*/

.stop{
    width: 33%;
    height: 150px;
    font-size: 5vw;
    color: white;
    background-color: burlywood;
}

.start{
    width: 100%;
    height: 150px;
    font-size: 5vw;
    color: white;
    background-color: burlywood;
}

.box{
    display: flex;
    background-image: url("");
}

.monster{
    background-image: url("img/Volcano.png");
    text-align: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#cHP{
    width: 100%;
    background-color: green;
    height: 100px;
    font-size: 8vw;
    color: white;
}

#mobHP{
    width: 100%;
    background-color: red;
    height: 100px;
    font-size: 8vw;
    color: black;
}